<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISaveGuid"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SaveALostGuid/SaveGuid/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISaveGuid" contract="SaveALostGuidService.ISaveGuid" name="BasicHttpBinding_ISaveGuid"/>
        </client>
    </system.serviceModel>
</configuration>
